//Device Sizes
$tab: 1024px;
$sp: 480px;

//Theme Colors
$maincolor: #3751FA;
$subcolor: #6478FA;

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}



